* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #047940;
}

.chmsulogo {
  border: 2px solid #ffffff !important;
  border-radius: 50%;
}

.chmsutxt {
  display: flex;
  flex-direction: column;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold !important;
  letter-spacing: normal !important;
  font-size: 2.5rem !important;
  line-height: 0.75em !important;
  color: #ffffff !important;
  & span {
    font-size: 0.545em;
  }
}

.systitle {
  font-size: 2.75rem;
  color: color-mix(in srgb, var(--color-primary), #ffffff 60%);
  text-transform: uppercase;
  line-height: 1.15em;
  & span {
    font-weight: 600;
    color: #ffffff;
  }
  & + hr {
    width: 125px;
    height: 4px;
    border: none;
    background-color: white;
    flex-shrink: 0;
    & + div {
      color: color-mix(in srgb, var(--color-primary), #ffffff 75%);
      line-height: 1.5em;
      font-size: 1.25rem;
      & + div {
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 600;
        align-content: end;
      }
    }
  }
}

#rc-anchor-container {
  display: none;
}

.landingPageBG {
  background-image: url(..\public\landingPageBG-1.png) !important;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 900px) {
  .landingPageBG {
    background-image: none !important;
    & > div:first-child {
      background-image: url(..\public\landingPageBG-2.png) !important;
      background-size: cover;
      background-position: bottom;
    }
  }
  .systitle {
    zoom: 80%;
    & + hr {
      display: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  .chmsulogo {
    zoom: 0.85;
  }
  .chmsutxt {
    font-size: 2rem !important;
  }

  .systitle {
    font-size: 2.25rem;
    & + hr + div {
      font-size: 1rem;
      & + div {
        font-size: 1.25rem;
      }
    }
  }
}
